@import '../figma/utils';

.states-view {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  &__empty {
    display: grid;
    justify-items: center;
    align-content: center;
    text-align: center;
  }
}

.header {
  padding: 8px;
  border-bottom: 1px solid var(--figma-silver);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;

  .select-menu__list-item-text {
    justify-content: space-between;
  }
}

.filter-count {
  background-color: var(--figma-white-200);
  padding: 0 8px;
  border-radius: 30px;
  color: var(--figma-white-400);

  .select-menu__button-label & {
    display: none;
  }
}
