@mixin text($size) {
  @if $size == 100 {
    font-size: var(--font-size-100);
    line-height: var(--font-line-height);
    letter-spacing: var(--font-letter-spacing-100);
  } @else if $size == 200 {
    font-size: var(--font-size-200);
    line-height: var(--font-line-height);
    letter-spacing: var(--font-letter-spacing-200);
  } @else if $size == 300 {
    font-size: var(--font-size-300);
    line-height: var(--font-line-height)-300;
    letter-spacing: var(--font-letter-spacing-300);
  } @else if $size == 400 {
    font-size: var(--font-size-400);
    line-height: var(--font-line-height)-400;
    letter-spacing: var(--font-letter-spacing-400);
  } @else if $size == 500 {
    font-size: var(--font-size-500);
    line-height: var(--font-line-height)-500;
    letter-spacing: var(--font-letter-spacing-500);
  }
}
